sudo: required
services:
  - docker

before_install:
  - docker build -t yihao/docker-react -f Dockerfile.dev .

script:
  - npm run -e CI=true yihao/docker-react -f Dockerfile.dev .

language: generic