language: generic
services:
  - docker

before_install:
  - docker build -t yihao/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true yihao/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "ap-southeast-2"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-ap-southeast-2-170566615202"
  access_key_id: $AWS_ACCESS_KEY
  secret_access_id: $AWS_SECRET_KEY
  on:
    branch: master